---
import { getCollection } from "astro:content";
import Footer from "@/components/Footer.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import RootLayout from "@/layouts/RootLayout.astro";
import ReportCard from "@/components/ReportCard.astro";
dayjs.extend(relativeTime);

const reports = await getCollection("reports");
---

<RootLayout title="Reports">
  <main class="flex flex-col mx-auto px-md sm:px-2xl min-h-dvh">
    <article class="grow">
      <section class="flex flex-col gap-md">
        {
          reports.length > 0 ? (
            reports.map((r) => <ReportCard report={r} />)
          ) : (
            <p class="text-center py-lg text-gray-500">
              No reports yet. Check back later!
            </p>
          )
        }
      </section>
    </article>
    <Footer />
  </main>
</RootLayout>
