---
import Socials from "@/components/Socials.astro";
import { getCollection } from "astro:content";
import AboutSection from "@/components/AboutSection.astro";
import Footer from "@/components/Footer.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const about = await getCollection("about");
if (!about) {
  throw new Error("About content not found");
}
---

<RootLayout title="About Us">
  <main class="flex flex-col mx-auto min-h-dvh">
    {
      about.map(async (item, index) => (
        <AboutSection section={item} index={index} />
      ))
    }
    <Socials />
    <div class="max-w-screen-lg mx-auto px-md">
      <Footer />
    </div>
  </main>
</RootLayout>
