---
import Socials from "@/components/Socials.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { getEntry } from "astro:content";
const bio = await getEntry("about", "bio");
const { Content: BioContent } = await bio.render();
---

<ContentLayout title="About Us">
  <section>
    <BioContent />
    <Socials />
  </section>
</ContentLayout>

<style>
  :global(h1) {
    @apply text-6xl font-normal mb-xl;
  }
  :global(p) {
    @apply text-xl;
  }
  :global(h1 + p) {
    @apply mb-3xl;
  }
</style>
