---
import RootLayout from "@/layouts/RootLayout.astro";
import Tree from "@/components/Tree/Tree.astro";
---

<RootLayout title="Geophytes">
  <div class="fixed bottom-0 left-0 right-0 flex justify-center mb-12">
    <div class="text-center">
      <div
        class="text-5xl sm:text-6xl lg:text-8xl uppercase font-black dark:text-ivory text-shark-950 text-shadow-lg max-w-screen-lg"
      >
        Nurturing Earth and People
      </div>
    </div>
  </div>
  <Tree />
</RootLayout>

<style>
  .splash {
    min-height: 100vh;
  }

  @supports (min-height: 100dvh) {
    .splash {
      min-height: 100dvh;
    }
  }
</style>
