---
import RootLayout from "@/layouts/RootLayout.astro";
import Tree from "@/components/Tree/Tree.astro";
---

<RootLayout title="Geophytes">
  <div
    class="text-center flex flex-col items-center gap-sm absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <span class="font-bold font-sans text-8xl md:text-9xl tracking-tighter"
      >geophytes</span
    >
    <span
      class="text-2xl uppercase font-black dark:text-ivory text-shark-950 text-shadow-lg max-w-screen-lg"
    >
      Weathering the Storm
    </span>
  </div>
  <Tree />
</RootLayout>
