---
import Socials from "@/components/Socials.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  index: number;
  section: CollectionEntry<"about">;
}

const { section, index } = Astro.props;
const { Content } = await section.render();

const abstractImages = ["bg-abstract-2", "bg-abstract-3" /*"bg-abstract-4"*/];
const artImages = [
  "bg-art-1",
  "bg-art-2",
  "bg-art-3",
  "bg-art-4",
  "bg-art-5",
  "bg-art-6",
  "bg-art-7",
];

const abstractImage = abstractImages[index % 2];
const artImage = artImages[index % 7];
---

<div
  class="min-h-dvh even:bg-shark-950 dark:even:bg-shark-700 even:text-white flex flex-col px-md"
>
  <div class="m-auto max-w-screen-md">
    <h1
      class:list={[
        "text-left text-6xl lg:text-9xl font-bold bg-clip-text text-transparent bg-cover bg-center",
        {
          [abstractImage]: true,
        },
      ]}
    >
      {section.data.title}
    </h1>
    <Content />
  </div>
</div>
