<footer class="mt-[33vh] pb-md">
  <!-- <div class="pb-md">[Blank Reading Space]</div> -->
  <hr />
  <div
    class="mx-auto flex flex-col sm:flex-row items-center sm:items-baseline gap-md justify-center sm:justify-end"
  >
    <span class="font-bold font-serif text-2xl md:text-3xl tracking-tighter"
      >geophytes</span
    >
    <div>
      <span> All Rights Reserved (C)</span>
      <span>{new Date().getFullYear()}</span>
    </div>
  </div>
</footer>
