<footer class="mt-[33vh] pb-md">
  <!-- <div class="pb-md">[Blank Reading Space]</div> -->
  <hr />
  <div class="mx-auto flex flex-row items-baseline gap-md justify-end">
    <span class="font-bold font-serif text-2xl tracking-tighter">geophytes</span
    >
    <span>
      All Rights Reserved (C) {new Date().getFullYear()}
    </span>
  </div>
</footer>
