<footer class="mt-[33vh] pb-lg">
  <!-- <div class="pb-md">[Blank Reading Space]</div> -->
  <hr class="mb-sm" />
  <div
    class="mx-auto flex flex-col sm:flex-row items-center sm:items-baseline gap-md justify-center sm:justify-end"
  >
    <span class="text-center sm:text-left">
      <strong>ACKNOWLEDGMENT OF COUNTRY:</strong> We would like to acknowledge the
      Gadigal people of the Eora nation, the traditional owners of the land on which
      this event takes place. Sovereignty has never been ceded; this always was and
      always will be Indigenous Land.
    </span>
    <span class="font-bold font-serif text-2xl md:text-3xl tracking-tighter"
      >geophytes</span
    >
    <div class="flex-1 sm:flex-none">
      <span> All Rights Reserved (C)</span>
      <span>{new Date().getFullYear()}</span>
    </div>
  </div>
</footer>
