---
import { Icon } from "astro-icon/components";
import Nav from "@/components/Nav.astro";
import DarkMode from "@/components/DarkMode/DarkMode.astro";
---

<div
  class="z-50 fixed top-0 left-0 m-auto py-sm w-full bg-ivory/50 dark:bg-shark-950/50 backdrop-blur-sm"
>
  <div class="flex mx-auto sm:px-3xl">
    <a href="/" class="hidden sm:block">
      <Icon name="logo/tree-with-text" class="w-20 h-20" />
    </a>
    <div
      class="flex items-center justify-around gap-xl mx-auto sm:gap-3xl sm:ml-auto sm:mr-0 h-16 sm:h-auto"
    >
      <Nav />
      <div class="bg-shark-950 dark:bg-ivory h-1/2 w-[1.5px]"></div>
      <DarkMode />
    </div>
  </div>
</div>
