---
import NavLink from "@/components/NavLink.astro";
---

<nav class="flex items-center gap-3xl">
  <NavLink href="/" label="Home" />
  <NavLink href="/projects" label="Projects" />
  <NavLink href="/about" label="About Us" />
</nav>
