---
const { href, label } = Astro.props;
const path = Astro.url.pathname;
const isActive = path === href || path.startsWith(href + "/");
---

<a
  href={href}
  class:list={[
    "text-lg sm:text-2xl border-2  px-md py-sm rounded-2xl transition-all duration-300 ease-out no-underline hover:border-shark-950 hover:dark:border-ivory",
    { "border-shark-950 dark:border-ivory": isActive },
    { "border-transparent": !isActive },
  ]}
>
  {label}
</a>
