---
import { slug } from "@/utils";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

interface Props {
  project: CollectionEntry<"notion">;
}

const { project } = Astro.props;
---

<div
  class="flex flex-col py-md sm:px-md gap-sm rounded-2xl border-2 border-transparent hover:border-shark-950 hover:dark:border-ivory transition-all duration-300 ease-out"
>
  <a
    class="no-underline"
    href={"/projects/" + slug(project.data.properties.Name)}
  >
    <p class="text-4xl md:text-6xl mb-lg xl:text-8xl">
      {project.data.properties.Name}
    </p>
    <p class="text-xl">{project.data.properties.Author}</p>
    <p class="mb-0 text-xl">
      Published {dayjs(project.data.properties.Date.last_edited_time).fromNow()}
    </p>
  </a>
</div>
