---
import { slug } from "@/utils";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

interface Props {
  report: CollectionEntry<"reports">;
}

const { report } = Astro.props;
---

<div
  class="flex flex-col p-lg gap-sm rounded-2xl border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 shadow-md hover:shadow-lg hover:border-shark-950 hover:dark:border-ivory transition-all duration-300 ease-out"
>
  <a
    class="no-underline"
    href={"/reports/" + slug(report.data.properties.Name as string)}
  >
    <p
      class="text-4xl md:text-6xl mb-lg xl:text-8xl font-bold text-gray-900 dark:text-gray-100"
    >
      {report.data.properties.Name as string}
    </p>
    <p class="text-xl text-gray-700 dark:text-gray-300 mb-sm">
      {report.data.properties.Author as string}
    </p>
    <div
      class="flex items-center gap-md text-gray-600 dark:text-gray-400 text-sm"
    >
      <p class="mb-0 text-sm">
        Published {
          dayjs((report.data.properties.Date as any).last_edited_time).fromNow()
        }
      </p>
      <span class="text-gray-400 dark:text-gray-500">•</span>
      8 min read
    </div>
  </a>
</div>
