---
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col gap-sm">
  <h1>Get in Touch</h1>
  <strong>Executive Directors</strong>
  <a
    class="flex gap-sm no-underline"
    href="https:/linkedin.com/in/gabriella-martins-cardoso/"
    target="_blank"
  >
    <Icon name="linkedin" class="h-xl dark:fill-ivory fill-shark-950" />
    <span>Gabriella Martins Cardoso</span>
  </a>
  <a
    class="flex gap-sm no-underline"
    href="https:/linkedin.com/in/tullyoregan/"
    target="_blank"
  >
    <Icon name="linkedin" class="h-xl dark:fill-ivory fill-shark-950" />
    <span>Tully O'Regan</span>
  </a>
</section>
