---
import { getCollection, getEntry } from "astro:content";
import ContentLayout from "@/layouts/ContentLayout.astro";

type Props = {
  title: string;
};

const { title } = Astro.params;
const entry = await getEntry("projects", title);

// TODO Redirect to 404 page
if (!entry) {
  throw new Error(`Blog post with title "${title}" not found`);
}

const { Content, headings } = await entry.render();

// Define getStaticPaths to generate paths for all blog posts
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((post) => ({
    params: { title: post.slug },
  }));
}
---

<ContentLayout title={entry.data.title}>
  <header class="mb-xl">
    <h1>{entry.data.title}</h1>
    <p>
      {entry.data.description}
    </p>
  </header>
  <section>
    <Content />
  </section>
</ContentLayout>
