---
import { getCollection } from "astro:content";
import ContentLayout from "@/layouts/ContentLayout.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import ProjectCard from "@/components/ProjectCard.astro";
dayjs.extend(relativeTime);

const projects = await getCollection("projects");
---

<ContentLayout title="Projects">
  <section>
    {projects.map((p) => <ProjectCard project={p} />)}
  </section>
</ContentLayout>
