---
import Header from "@/components/Header.astro";
import "@/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal website of Lucas Barbosa" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#f5f5f5" id="theme-color" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/png"
      href="/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Geophytes" />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <script is:inline>
      // fetch user dark mode settings
      // inline option removes astro overhead - no theme flickering
      (() => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();

        if (theme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }

        window.localStorage.setItem("theme", theme);

        // set status bar dark mode on mobile
        const themeColorMetaTag = document.querySelector(
          'meta[name="theme-color"]'
        );

        function updateThemeColor() {
          const isDarkMode =
            document.documentElement.classList.contains("dark");
          themeColorMetaTag?.setAttribute(
            "content",
            isDarkMode ? "#121212" : "#f5f5f5"
          );
        }

        updateThemeColor(); // Initial call to set the theme color based on current mode

        const observer = new MutationObserver(updateThemeColor);
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      })();
    </script>
    <script src="../components/DarkMode/dark-mode-init.ts"></script>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
